<h1>Name: {{ post.name }}</h1>
<div>Categories: {{ post.categories }}</div>
<div>Author: {{ post.author }}</div>
<div>Body: {{ post.body }}</div>
<img src="./img/pozitivnye_kartinki_2.jpg" alt="img"/>

{{{body}}}
